.container-screen1{
	width: 75%;
	margin: 0 auto;
	max-width: 1280px;
}

.title{
	font-size: 1.7em !important;
	margin: 10px;
}

.bolder{
	font-weight: bolder;
}

.carousel.carousel-slider.center.initialized{
	height: 75vh !important;
	transform: translateY(10%);
}

.carousel .carousel-item > img{
	width: 85%;
}

.carousel .indicators .indicator-item{
	background-color: gray;
}

.carousel .indicators .indicator-item.active{
	background-color: #f64552;
}

.carousel .indicators{
	bottom: 85px;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators{
	bottom: 50px;
}

a.waves-effect.waves-light.btn{
	width: 85%;
}

.btn,
.btn-large,
.btn:hover,
.btn-large:hover {
	background-color: #fbd43b;
}

img.screen2-phone{
	width: 100px;
}

p{
	margin: 0;
}

.title2{
	font-size: 1.4em;
}

.subtitle2{
	font-size: 1em;
	margin: 5px;
}

img.phoneandnumber{
	width: 60px;
}

a.waves-effect.waves-light.btn.next{
	width: 50%;
}

.container{
	transform: translateY(15%);
}

.continue{
	position: absolute;
	width: 100%;
	top: 25em;
}